@page
@model EnterPinModel
@{
    ViewData["Title"] = "EnterPIN";
}


<!DOCTYPE html>
<head>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Enter your PIN number</h1>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-pin-number">
        <input type="hidden" asp-for="CardNumber" />
        <label asp-for="PINNumber" class="control-label" title="PIN number"></label>
        <input asp-for="PINNumber"
            type="password"
            class="form-control"
            onkeypress="return false;"
        />
        <table class="keboard" align="center">
            @for(int r = 0; r < 4; r++) 
            {
                <tr>
                @for(int c = 0; c < 3; c++) 
                {
                    <td>
                        @{
                            var buttonValue = r*3 + c;
                            if(buttonValue > 9)
                                break;
                        }
                        <input type="button" value="@buttonValue" class="btn btn-primary" 
                            onclick="{
                                var pinNumberStr = document.getElementById('PINNumber').value;
                                console.log(pinNumberStr);
                                
                                var pinNumberStrLength = pinNumberStr.length
                                if(pinNumberStrLength >= 4)
                                    return;
                                pinNumberStr += this.value;
                                console.log(pinNumberStr);
                                document.getElementById('PINNumber').value = pinNumberStr;
                            }"
                        />            
                    </td>
                }
                </tr>
            }  
        </table>
    </div>
    <hr>
    </hr>

    <div class="form-submit">
        <input type="button" value="Очистить" class="btn-clear"
            onclick="document.getElementById('PINNumber').value = null;" />
        <input type="submit" value="OК" class="btn-ok"/>
    </div>
</form>
</body>
</html>
