@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Произошла ошибка во время обработки запроса.</h1>
<p>
    @if(string.IsNullOrEmpty(Model.ErrorMessage))
        {<code>Неизвестная ошибка</code>}
    else
        {<code>@Model.ErrorMessage</code>}
</p>

<input type="hidden" asp-for="AccessToken" />
<input type="button" value="Назад" class="btn-back" onclick="history.go(-1); return false;" />


