@page
@model IndexModel
@{
    ViewData["Title"] = "Ввод номера карты";
}


<!DOCTYPE html>
<head>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Введите номер карты</h1>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-card-number">
        <label asp-for="CardNumber" class="control-label">Номер карты</label>
        <input asp-for="CardNumber"
            type="text"
            class="form-control"
            onkeypress="return false;"
        />
        <table class="keboard" align="center">
            @for(int r = 0; r < 4; r++) 
            {
                <tr>
                @for(int c = 0; c < 3; c++) 
                {
                    <td>
                        @{
                            var buttonValue = r*3 + c;
                            if(buttonValue > 9)
                                break;
                        }
                        <input type="button" value="@buttonValue" class="btn btn-primary" 
                            onclick="{
                                var cardNumberStr = document.getElementById('CardNumber').value;
                                
                                var cardNumberStrLength = cardNumberStr.length
                                if(cardNumberStrLength >= 19)
                                    return;
                                if(cardNumberStrLength == 4 || cardNumberStrLength == 9 || cardNumberStr.length == 14)
                                    cardNumberStr += '-';
                                cardNumberStr += this.value;
                                document.getElementById('CardNumber').value = cardNumberStr;
                            }"
                        />            
                    </td>
                }
                </tr>
            }  
        </table>
    </div>
    <hr>
    </hr>

    <div class="form-submit">
        <input type="button" value="Очистить" class="btn-clear"
            onclick="document.getElementById('CardNumber').value = null;" />
        <input type="submit" value="OК" class="btn-ok"/>
    </div>
</form>
</body>
</html>
