@page
@model SelectOperationModel
@{
    ViewData["Title"] = "Выберите операцию";
}


<!DOCTYPE html>
<head>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Выберите операцию</h1>
</div>
<form method="post">
    <input type="hidden" asp-for="AccessToken" />
    <input type="submit" class="btn-account" value="Баланс" asp-page-handler="CardBalance"/>
    <input type="submit" class="btn-withdraw" value ="Снять сумму" asp-page-handler="Withdraw"/>
    <input type="submit" class="btn-logout" value ="Выход" asp-page-handler="Logout"/> 
</form>
</body>
</html>
