@page
@model WithdrawReportModel
@{
    ViewData["Title"] = "Выберите операцию";
}

<!DOCTYPE html>
<head>
</head>
<body>
<table class="table">
    <tr>
        <td>Номер карты</td>
        <td>@Model.CardNumber</td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>
            <script type="text/javascript">
                var serverDate = new Date('@Model.OperationDateTime');
                var offsetms = new Date().getTimezoneOffset() * 60 * 1000;
                var localDate = new Date(serverDate.valueOf() - offsetms);
                document.write(localDate.toLocaleString());
            </script>                    
        </td>
    </tr>
    <tr>
        <td>Сумма на счету</td>
        <td>@Model.Balance</td>
    </tr>
    <tr>
        <td>Снятая сумма</td>
        <td>@Model.Amount</td>
    </tr>
</table>

<div class="text-center">
    <h1 class="display-4">Выберите операцию</h1>
</div>
<form method="post">
    <input type="hidden" asp-for="AccessToken" />
    <input type="submit" class="btn-account" value="Назад" asp-page-handler="Back"/>
    <input type="submit" class="btn-logiut" value ="Выход"  asp-page-handler="Logout"/> 
</form>
</body>
</html>
